
body {
    margin: 0px;
    width: 500px;
    font-size: 75%; /* chrome does this implicit, firefox not */
}

.right {
    float: right;
}

input {
    padding: 8px 15px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
}

select {
    padding: 8px 15px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
}

input.uri {
    width: 300px;
}

select.direction {
    width: 150px;
}

